.dotchart circle {
    stroke: grey;
    fill: none;
    stroke-width: 1.5px;
}

text {
  font-family: sans-serif;
  font-size: 10px;
}

.title {
  font-size: 20px;
}

/* the path element comprises the area where the axis line is drawn.*/
.axis path {
    fill: none; 
    stroke: black;
    shape-rendering: crispEdges;
    stroke-width: 1px;
}

.axis .domain {
    fill: none; 
    stroke: #999;
    shape-rendering: crispEdges;
    stroke-width: 1px;
}


.axis line {
    display: none;
}

.gridlines {
  fill: none; /*supresses the path and drawing of text*/
}

.gridlines line {
  stroke: black;
  stroke-width: 1px;
}

.gridlines.x line{
  stroke-dasharray: 2, 2;
  stroke-opacity: 0.3;
}

.gridlines.y line{
  stroke-opacity: 0.1;
}